<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd

        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
    	default-lazy-init="false">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:config.properties</value>
			</array>
		</property>
	</bean>

	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>

	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
        <mvc:exclude-mapping path="/tokens/**"/>
        <mvc:exclude-mapping path="/graphql/**"/>
        <mvc:exclude-mapping path="/swagger/**"/>
        <mvc:exclude-mapping path="/v2/**"/>
        <mvc:exclude-mapping path="/users/**"/>
        <mvc:exclude-mapping path="/areaSports/**"/>
        <mvc:exclude-mapping path="/runningSports/**"/>
        <mvc:exclude-mapping path="/runningActivityData/**"/>
        <mvc:exclude-mapping path="/runningActivities/**"/>
        <mvc:exclude-mapping path="/areaActivities/**"/>
        <mvc:exclude-mapping path="/statisticTasks/**"/>
        <mvc:exclude-mapping path="/uploadFile/**"/>
        <mvc:exclude-mapping path="/downloads/file/**"/>
	        <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->
	        <bean class="com.wzsport.interceptor.TokenInterceptor"></bean>
    	</mvc:interceptor>
	</mvc:interceptors>

	<!-- 启用注解配置 -->
	<mvc:annotation-driven>
		<!-- 解决@ReponseBody中文乱码问题 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 配置使用注解的包 -->
	<context:component-scan base-package="com.wzsport.*" />
	<aop:config proxy-target-class="true"></aop:config>

	<mvc:resources mapping="/*" location="/" />

	<!-- 跨域配置 -->
	<!-- <mvc:cors>
    	<mvc:mapping path="/**"
    		allowed-methods="GET, PUT, POST, DELETE, OPTIONS"/>
	</mvc:cors> -->
    <mvc:cors>  
        <mvc:mapping path="/**"
            allowed-origins="*"
            allowed-methods="POST, GET, OPTIONS, DELETE, PUT"
            allowed-headers="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With, Access-Control-Allow-Origin"
            allow-credentials="true" />
    </mvc:cors>
  
	<context:annotation-config />

	<!-- 开启这个配置，spring才能识别@Scheduled注解 -->
    <task:annotation-driven scheduler="myScheduler"/>
    <task:scheduler id="myScheduler" pool-size="10"/>
</beans>
